<section class="page-banner-container">
  {{#if settings.data_tag_enabled}}
    <div class="page-banner">
      {{#each (limit banners 1)}}
        <div
          class="banner rte"
          data-event-type="promotion"
          data-entity-id="{{this.id}}"
          data-name="{{this.banner-name}}"
          data-position="{{this.location}}"
          data-name="{{this.banner-name}}"
        >
          <div data-event-type="promotion-click">
            {{{this.content}}}
          </div>
      </div>
      {{/each}}
    </div>
  {{else}}
    <div class="page-banner">
      {{#each (limit banners 1)}}
        <div class="banner rte">
          {{{this.content}}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</section>
