{{#if product_results.products}}
  <div class="product-collection-item-list">
    {{#each product_results.products}}
      {{> components/product/product-item
        overlay=../theme_settings.collection_products_overlay_type
        price_range_display=../theme_settings.price_range_display
        retail_price_label=../theme_settings.retail-price-label
        non_sale_price_label=../theme_settings.non-sale-price-label
        sale_price_label=../theme_settings.sale-price-label
        price_label=../theme_settings.price-label
        sale_badges=../theme_settings.sale-badges
        fallback_size=../theme_settings.medium
        lazyload=../theme_settings.lazyload_mode
        default_image=../theme_settings.default_image
        data_tag_enabled=../settings.data_tag_enabled
        event="list"
        position=(add @index 1)
      }}
    {{/each}}

    {{> components/collection/collection-pagination pagination.product_results}}
  </div>
{{else}}
  <p class="empty-results">
    <span>
      {{lang 'search.empty_for_product'}} <strong>"{{{sanitize forms.search.query}}}"</strong>
    </span>
  </p>
{{/if}}
