// Modal
.review-modal-container {
  display: none;

  .modal-body {
    @include row();
  }

  .form {
    @include row();

    .form-field { margin-bottom: $gutter; }

    .form-field:nth-of-type(2) {
      @include col(1, 2);
      padding-left: 0;

      @include breakpoint(ms-down) {
        width: 100%;
        padding: 0;
      }
    }

    .form-field:nth-of-type(3) {
      @include col(1, 2);
      padding-right: 0;

      @include breakpoint(ms-down) {
        width: 100%;
        padding: 0;
      }
    }
  }
}

.review-image-column {
  @include col(1, 2, $first: true);

  @include breakpoint(m-down) { display: none; }
}

.review-form-column {
  @include col(1, 2, $last: true);

  @include breakpoint(m-down) {
    width: 100%;
    padding: 0;
  }

  .g-recaptcha {
    margin-bottom: $gutter;
  }
}

// Title
.review-form-heading {
  margin-top: 0;
  margin-bottom: $gutter-third;
  line-height: 1;
}

// Rating Stars (clickable)
.input-stars {
  position: relative;
  display: inline-block;

  &.form-field-error { padding-bottom: $gutter-half; }

  .star {
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: rgba($body-color, 0.3);

    &:hover,
    &:hover ~ .star svg { fill: $body-color; }
  }

  > input:checked {
    ~ label svg { fill: $body-color; }
  }

  .form-inline-message {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;

    + .form-inline-message { display: none; }
  }
}

// Rating Stars (readonly)
.rating-stars {
  display: inline-block;
  font-size: 0;

  .star {
    width: 12px;
    height: 12px;
    margin: 0;
  }

  .star-empty {
    fill: rgba($body-color, 0.3);

    .product-item-overlay & {
      fill: rgba($collection-products-overlay-color, 0.3);
    }
  }

  .star-full {
    fill: $body-color;

    .product-item-overlay & {
      fill: $collection-products-overlay-color;
    }
  }
}
