---
category:
  products:
    limit: {{theme_settings.collection_products_per_page}}
---

{{#partial "page"}}

  {{> components/collection/collection-header collection=category}}

  {{{region name="category_below_header"}}}

  {{#if banners.top.length}}
    {{> components/common/banner
      banners=banners.top_metadata
    }}
  {{/if}}

  <main class="product-collection-container" data-collection>

    <section class="product-collection-container-inner">

      {{> components/collection/collection-sorting
          collection=category
          sort=pagination.category.sort
          show_sort=theme_settings.collection-products-show-sort}}

      <aside class="product-collection-filter-sidebar" data-collection-sidebar>
        {{> components/collection/category/category-sidebar}}
      </aside>

      <section
        class="product-collection-item-list-container"
        data-collection-product-list
        data-quick-shop-scope
        {{#if settings.data_tag_enabled}}
          data-list-name="{{lang 'data_tags.category' name=category.name}}"
        {{/if}}
      >
        {{> components/collection/category/category-products}}
      </section>

    </section>

    {{{region name="category_below_content"}}}
  </main>

{{/partial}}

{{> layout/base}}
