.amp-product-options {
  .add-to-cart-quantity-container {
    margin-top: $gutter-half;
  }

  .form-field-quantity-control {
    position: relative;
    display: block;

    .form-input {
      width: 100%;
      padding: 11px 40px;
      text-align: center;
    }

    .quantity-control-action {
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }
    }

    .quantity-decrement {
      left: 8px;
    }

    .quantity-increment {
      right: 8px;
    }
  }

  .button-progress .complete-text {
    top: calc(50% - 10px);
  }

  .form-label-text {
    @extend %metatext;
    @extend %secondary-font;
    @extend %smallcaps;
    display: block;
    margin: 0 0 $gutter-half;
    font-weight: bolder;
    color: $body-color;
  }

  .button {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}
