// Container
.cart-container {
  @extend %container-padding;
  @include row();
  position: relative;
}

.cart-items-container {
  @include align(top);
  width: calc(100% - #{$cart-totals-width + $gutter});

  @include breakpoint(ms-down) { width: 100%; }
}

.cart-totals-container {
  @include align(top);
  width: $cart-totals-width;
  margin-left: $gutter;

  @include breakpoint(ms-down) {
    width: 100%;
    margin: 0;
  }
}

// Messages
.cart-messages {
  .alert {
    margin: ($gutter-third / 2) 0;

    &:first-of-type { margin-top: $gutter; }
    &:last-of-type { margin-bottom: 0; }
  }
}
