.apple-pay-checkout-button {
  display: none;
  width: 100%;
  height: 40px;
  margin-top: $gutter-half;
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: 100% 60%;
  }
  border-radius: 5px;
  box-sizing: border-box;

  //scss-lint:disable ColorVariable, ColorKeyword
  @if stencilString("style_apple_pay_button") == "white" {
    background-color: white;
    background-image: -webkit-named-image(apple-pay-logo-black);
  } @else if stencilString("style_apple_pay_button") == "white-border" {
    background-color: white;
    background-image: -webkit-named-image(apple-pay-logo-black);
    border: 0.5px solid black;
  } @else {
    background-color: black;
    background-image: -webkit-named-image(apple-pay-logo-white);
  }

  .apple-pay-supported & {
    display: block;

    @include breakpoint(m-down) {
      display: inline-block;
      float: right;

      ~ div { clear: right; }
    }
  }
}
