// Container
.product-single-image {
  @include row();
  display: block;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s $ease-out-quad;

  &:hover {
    @include breakpoint(l) {
      cursor: pointer;
    }

    .quick-shop & {
      cursor: default;
      opacity: 1;
    }
  }

  &:not(:last-child) { margin-bottom: $gutter-third; }

  &.variant-image {
    display: none;

    &.loaded { display: block; }
  }

  .two-column & {
    @include col(1, 2, $gap: ($gutter-third / 2));
    font-size: 0;

    @include breakpoint(ms-down) {
      width: 100%;
      padding: 0;
    }
  }
}
