.amp-mini-cart svg {
  width: 25px;
  height: 35px;
  fill: currentColor;
}

.amp-mini-cart a {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.cart-preview-count {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  margin-top: 1px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: {{header_background}};
  transform: translate(-50%, -50%);
}


.amp-grid-item-image-container.amp-image-wide {
  padding-bottom: 66.66667%;
}

.amp-grid-item-image-container.amp-image-square {
  padding-bottom: 100%;
}

.amp-grid-item-image-container.amp-image-tall {
  padding-bottom: 125%;
}

.amp-grid-item-image-container.amp-image-taller {
  padding-bottom: 150%;
}
