// Container
.header-tools-list {
  font-size: 0;
  text-align: right;

  .header-branding-right & {
    @include breakpoint(l) { text-align: left; }
  }
}

// Item
.header-tools-list-item {
  @include align(middle);
  margin-left: $gutter-half + $gutter-third;
  font-size: $body-font-size;

  > button {
    @extend %button-reset;
    @include align(middle);
  }

  .header-branding-right & {
    @include breakpoint(l) {
      margin-right: $gutter-half;
      margin-left: 0;
    }
  }

  svg {
    display: block;
    fill: currentColor;
  }
}
