$account-link-color: $heading-color;
$account-light-color: $light-color;
$account-accent-color: $accent-color;
$account-border-color: $border-color;
$account-gutter: $gutter;
$account-font-size: $body-font-size;
$account-border-radius: 4px;
$account-text-color: $body-color;
$account-card-background-color: $body-background;
$account-alert-error-color: $error-color;
$account-alert-success-color: $success-color;
$account-breakpoint-small: $medium-small;
$account-breakpoint-medium: $medium;
